body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 25px;
}

.legend i {
  float: left;
  width: 15px; 
  height: 15px;
  /*radius : 6;*/
  margin-right: 20px;
  margin-left: 40px;
  opacity: 1;
}

#circle {
  /* width: 15px; 
  height: 15px; */
  border-radius: 50%; 
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}